# Step-1

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path=r'C:\Users\GÃ¼nay\Documents\Instacart Basket Analysis'

In [3]:
df_ords=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked_1 - Kopie.csv'), index_col=False)

In [4]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_time,days_since_prior_order
0,1501582,2,prior,2,5,10,10.0
1,1901567,2,prior,3,1,10,3.0
2,738281,2,prior,4,2,10,8.0
3,1673511,2,prior,5,3,11,8.0
4,1199898,2,prior,6,2,9,13.0

In [5]:
df_ords.shape

(1048575, 7)

In [16]:
df_ords_prior=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior_sample.csv'), index_col=0)

In [17]:
df_ords_prior.head()

    order_id  product_id  add_to_cart_order  reordered  split
0          2       33120                  1          1      2
6          2       40141                  7          1      6
9          3       33754                  1          1      4
12         3       21903                  4          1      9
13         3       17668                  5          1     12

In [18]:
df_ords_prior.describe()

,order_id,product_id,add_to_cart_order,reordered,split
count,6.487173e+06,6.487173e+06,6.487173e+06,6.487173e+06,6.487173e+06
mean,1.710578e+06,2.557746e+04,8.353564e+00,5.891898e-01,1.050181e+01
std,9.869384e+05,1.409167e+04,7.131004e+00,4.919809e-01,5.765927e+00
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00
25%,8.563260e+05,1.353500e+04,3.000000e+00,0.000000e+00,6.000000e+00
50%,1.710595e+06,2.523700e+04,6.000000e+00,1.000000e+00,1.100000e+01
75%,2.564902e+06,3.792300e+04,1.100000e+01,1.000000e+00,1.600000e+01
max,3.421083e+06,4.968800e+04,1.350000e+02,1.000000e+00,2.000000e+01

In [19]:
df_ords_prior.shape

(6487173, 5)

In [20]:
df_merged_large=df_ords.merge(df_ords_prior, on='order_id', indicator=True)

In [21]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,split,_merge
0,1501582,2,prior,2,5,10,10.0,8479,3,0,19,both
1,1501582,2,prior,2,5,10,10.0,47766,4,1,12,both
2,1501582,2,prior,2,5,10,10.0,19051,5,0,20,both
3,1901567,2,prior,3,1,10,3.0,20574,3,1,16,both
4,1901567,2,prior,3,1,10,3.0,7781,4,0,1,both

In [22]:
df_merged_large['_merge'].value_counts()

both          1983051
left_only           0
right_only          0
Name: _merge, dtype: int64

# Step-2

In [23]:
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [24]:
df_merged_large.shape

(1983051, 12)